{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">TaskMaster</h1>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo inventore amet nisi mollitia eos doloribus
      accusamus sint omnis, sunt, magnam laboriosam quos laborum quod veritatis assumenda porro reiciendis rerum
      perspiciatis minus voluptates fugiat? Eveniet temporibus exercitationem rerum qui fuga, velit doloremque eos cum
      deleniti ducimus nam quidem quis atque vero corporis suscipit officiis quo obcaecati perferendis iure! Ad quidem
      necessitatibus ducimus blanditiis possimus delectus vitae exercitationem itaque, architecto molestiae nulla
      facilis
      eum eos fugit odit ex nostrum. Reprehenderit tenetur accusantium hic eius odio exercitationem fuga iusto earum ex
      error nam accusamus, ad, sequi molestiae expedita tempora vero. Nobis, enim alias!</p>
    {% if user.is_authenticated %}
    <p class="text-center">Bienvenido, {{ user.username }} 👋</p>
    {% else %}
    <div class="text-center">
      <a class="btn btn-dark" href="{% url 'signin' %}">
        SignIn
      </a>
      <a class="btn btn-primary" href="{% url 'signup' %}">
        SignUp
      </a>
    </div>
    {% endif %}

  </section>
</main>

{% endblock %}